singularity {
 	enabled = true
	autoMounts = true
	// runOptions = "--containall"
	cacheDir = '/lustre/scratch126/cellgen/team283/imaging_sifs/cache/'
}

docker.enabled = false

// Executor details
executor{
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 50
}

process {
    executor = 'lsf'
    queue = 'imaging'

    errorStrategy = { task.exitStatus in 130..140 ? 'retry' : 'terminate' }
    maxRetries = 3

    cpus = 1
    memory = 1.GB

    // withLabel: 'cellgeni_a100' {
    //     queue="gpu-cellgeni-a100"
    //     clusterOptions = { " -gpu \"mode=shared:j_exclusive=no:gmem=40000:num=1\"" } //-gpu "mode=shared:j_exclusive=yes:gmem=80000:num=1"
	// }
   withName: 'FRACTAL_CELLPOSE' {
        memory = { 8.GB * task.attempt }
        // queue='gpu-normal'
        // clusterOptions = { ' -gpu "mode=shared:j_exclusive=no:gmem=10000:num=1" ' } //-gpu "mode=shared:j_exclusive=yes:gmem=80000:num=1"

        queue='imaging' // temporary walk-around to ensure a "working" queue
        // clusterOptions = { "-M "+task.memory.toMega()+" -R 'select[ngpus>0 && mem>="+task.memory.toMega()+"] rusage[mem="+task.memory.toMega()+"] span[ptile=1]' -gpu 'mode=shared:j_exclusive=no:gmem=20000:num=1'" }
        // clusterOptions = { "-M "+task.memory.toMega()+" -R 'select[ngpus>0 && mem>="+task.memory.toMega()+"] rusage[mem="+task.memory.toMega()+"] span[ptile=1]' -gpu 'j_exclusive=yes:gmem=40000:num=1'" }
	}
}
